<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.7.2.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script type="text/javascript">
        var App = {
            Models: {},
            Collections: {},
            Views: {},
            start: {

            }
        };

        App.Models.Todo = Backbone.Model.extend({
            defaults: {
                "status":"incomplete"
            },
            togleStatus:function() {
                if (this.get('status') === 'incomplete') {
                    this.set('status', 'complete');
                } else {
                    this.set('status', 'incomplete');
                }
            }
        });
        App.Collections.Todo = Backbone.Collection.extend({
            model: App.Models.Todo,
            url:"/api/todo"
        });

        App.Views.Todo = Backbone.View.extend({
            tagName: "li",
            template: _.template("<label> <input type='checkbox'  <% if(status=='complete') print('checked') %> /> <%=description%> </label>"),
            render:function() {
                this.$el.append(this.template(this.model.toJSON()));
                return this.$el;
            }
        });

        App.Views.Todos = Backbone.View.extend({
            tagName: "ul",
            render:function() {
                this.$el.empty();
                this.collection.forEach(this.addOne, this);
                return this;
            },
            addOne:function(todo) {
                var todoView = new App.Views.Todo({ model: todo });
                this.$el.append(todoView.render());
            }
        });


    </script>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
    <body>
        

    </body>
</html>
