<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.7.2.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script>
        var App = {
            Views: {},
            Collections: {},
            Models: {},
            start: function () { }
        };
        App.Models.Todo = Backbone.Model.extend({
            defaults: {
                'status':'imcomplete'
            },
            toggleStatus: function () {
                if (this.get('status') === 'incomplete') {
                    this.set('status', 'complete');
                } else {
                    this.set('status', 'incomplete');
                }
                this.save();
            }
        });

        App.Collections.Todo = Backbone.Collection.extend({
            model: App.Models.Todo,
            url:"api/todo"
        });

    </script>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
</body>
</html>
